body {
    color: #750404;
    background-color: rgb(0, 0, 0);
    font-family: "Noto Sans Gurmukhi", sans-serif;
    margin: 0px;
}

header {
    border: solid 2px rgb(228, 47, 47);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 47, 47);
}

section {
    background-color: #5f4040;
    padding-bottom: 80px;
    padding-top: 80px;
    display;
    flex: ;
    justify-content: center;
}

. chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}